*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100%;
  line-height: 1;
  font-family: 'Open Sans', sans-serif;
}

html {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: transparent;
  position: relative;
  min-height: 100%;
  width: 100%;
  scroll-behavior: smooth;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

button {
  border-radius: 0;
  border: none;
  background: transparent;
  outline: none;
  margin: 0;
  padding: 0;
  cursor: pointer;
}

figure {
  margin: 0;
}

p {
  margin: 0;
}

