@import '../../../styles/styleguide/headings';

.transaction__items {
  display: flex;
  border-bottom: 1px solid #f5f5f5;
  padding-top: 16px;
  cursor: pointer;
  
  &:last-child {
    border-bottom: none;
  }
  
  .logo {
    width: 48px;
    height: 48px;
    background: #009dff1a;
    border-radius: 50%;
    margin-right: 12px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-style: normal;
  }

  &:hover {
    .price {
      color: #01d167;
    }
  }
  
  &-details {
    display: flex;
    flex-direction: column;
    flex: 1;

    .title {
      @include heading-semibold;
      font-size: 14px;
      margin-bottom: 4px;
    }

    .date {
      @include opensans-regular;
      font-size: 13px;
      margin-bottom: 12px;
      color: #aaaaaa;
    }

    .action {
      @include heading-semibold;
      font-size: 12px;
      margin-bottom: 16px;
      color: #325baf;
      cursor: pointer;
      display: flex;
      align-items: center;

      i {
        width: 24px;
        height: 20px;
        color: #fff;
        background: #325baf;
        border-radius: 50%;
        margin-right: 8px;
        font-size: 8px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        font-style: normal;
      }
    }
  }

  &-price {
    display: flex;
    align-items: center;
    margin-left: auto;
    
    .price {
      @include heading-bold;
      font-size: 14px;
      margin-right: 10px;
    }
    
    i {
      font-style: normal;
      display: inline-block;
    }
  }
  
  &-logo {
    display: flex;
    align-items: center;
  }
}

