@font-face {
  font-family: 'icomoon';
  src: url('/fonts/icomoon/icomoon.eot?wapvdg');
  src: url('/fonts/icomoon/icomoon.eot?wapvdg#iefix')
      format('embedded-opentype'),
    url('/fonts/icomoon/icomoon.ttf?wapvdg') format('truetype'),
    url('/fonts/icomoon/icomoon.woff?wapvdg') format('woff'),
    url('/fonts/icomoon/icomoon.svg?wapvdg#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^='icon-'],
[class*=' icon-'] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-Account:before {
  content: '\e900';
}
.icon-Aspire-Logo:before {
  content: '\e901';
}
.icon-box:before {
  content: '\e902';
}
.icon-business-and-finance:before {
  content: '\e903';
}
.icon-Card:before {
  content: '\e904';
}
.icon-Credit:before {
  content: '\e905';
}
.icon-Deactivate-card .path1:before {
  content: '\e906';
  color: rgb(50, 91, 175);
}
.icon-Deactivate-card .path2:before {
  content: '\e907';
  margin-left: -1em;
  color: rgb(154, 192, 250);
}
.icon-Deactivate-card .path3:before {
  content: '\e908';
  margin-left: -1em;
  color: rgb(241, 243, 244);
}
.icon-down-arrow:before {
  content: '\e909';
  color: #325baf;
}
.icon-file-storage:before {
  content: '\e90a';
  color: #009dff;
}
.icon-flights:before {
  content: '\e90b';
  color: #00d6b5;
}
.icon-Freeze-card .path1:before {
  content: '\e90c';
  color: rgb(50, 91, 175);
}
.icon-Freeze-card .path2:before {
  content: '\e90d';
  margin-left: -1em;
  color: rgb(154, 192, 250);
}
.icon-Freeze-card .path3:before {
  content: '\e90e';
  margin-left: -1em;
  color: rgb(241, 243, 244);
}
.icon-GPay .path1:before {
  content: '\e90f';
  color: rgb(255, 255, 255);
}
.icon-GPay .path2:before {
  content: '\e910';
  margin-left: -1em;
  color: none;
}
.icon-GPay .path3:before {
  content: '\e911';
  margin-left: -1em;
  color: rgb(66, 133, 244);
}
.icon-GPay .path4:before {
  content: '\e912';
  margin-left: -1em;
  color: rgb(52, 168, 83);
}
.icon-GPay .path5:before {
  content: '\e913';
  margin-left: -1em;
  color: rgb(251, 188, 4);
}
.icon-GPay .path6:before {
  content: '\e914';
  margin-left: -1em;
  color: rgb(234, 67, 53);
}
.icon-Group-11889-1 .path1:before {
  content: '\e915';
  color: rgb(50, 91, 175);
  opacity: 0.15;
}
.icon-Group-11889-1 .path2:before {
  content: '\e916';
  margin-left: -1em;
  color: rgb(50, 91, 175);
}
.icon-Group-11889-1 .path3:before {
  content: '\e917';
  margin-left: -1em;
  color: rgb(35, 206, 253);
}
.icon-Group-11889 .path1:before {
  content: '\e918';
  color: rgba(50, 91, 175, 0.15);
}
.icon-Group-11889 .path2:before {
  content: '\e919';
  margin-left: -1em;
  color: rgb(50, 91, 175);
}
.icon-Group-11889 .path3:before {
  content: '\e91a';
  margin-left: -1em;
  color: rgb(35, 206, 253);
}
.icon-Home:before {
  content: '\e91b';
}
.icon-megaphone:before {
  content: '\e91c';
  color: #f25195;
}
.icon-nature-1:before {
  content: '\e91d';
  color: #9ac0fa;
}
.icon-next:before {
  content: '\e91e';
  color: #ddd;
}
.icon-Payments:before {
  content: '\e91f';
}
.icon-pickup-car .path1:before {
  content: '\e920';
  color: rgb(154, 192, 250);
}
.icon-pickup-car .path2:before {
  content: '\e921';
  margin-left: -1.201171875em;
  color: rgb(154, 192, 250);
}
.icon-pickup-car .path3:before {
  content: '\e922';
  margin-left: -1.201171875em;
  color: rgb(154, 192, 250);
}
.icon-pickup-car .path4:before {
  content: '\e923';
  margin-left: -1.201171875em;
  color: rgb(154, 192, 250);
}
.icon-pickup-car .path5:before {
  content: '\e924';
  margin-left: -1.201171875em;
  color: rgb(154, 192, 250);
}
.icon-pickup-car .path6:before {
  content: '\e925';
  margin-left: -1.201171875em;
  color: rgb(154, 192, 250);
}
.icon-pickup-car .path7:before {
  content: '\e926';
  margin-left: -1.201171875em;
  color: rgb(241, 243, 244);
}
.icon-remove_red_eye-24px:before {
  content: '\e927';
  color: #01d167;
}
.icon-Replace-card .path1:before {
  content: '\e928';
  color: rgb(50, 91, 175);
}
.icon-Replace-card .path2:before {
  content: '\e929';
  margin-left: -1em;
  color: rgb(241, 243, 244);
}
.icon-Replace-card .path3:before {
  content: '\e92a';
  margin-left: -1em;
  color: rgb(154, 192, 250);
}
.icon-Set-spend-limit .path1:before {
  content: '\e92b';
  color: rgb(50, 91, 175);
}
.icon-Set-spend-limit .path2:before {
  content: '\e92c';
  margin-left: -1em;
  color: rgb(154, 192, 250);
}
.icon-Set-spend-limit .path3:before {
  content: '\e92d';
  margin-left: -1em;
  color: rgb(154, 192, 250);
}
.icon-Set-spend-limit .path4:before {
  content: '\e92e';
  margin-left: -1em;
  color: rgb(154, 192, 250);
}
.icon-Set-spend-limit .path5:before {
  content: '\e92f';
  margin-left: -1em;
  color: rgb(154, 192, 250);
}
.icon-Set-spend-limit .path6:before {
  content: '\e930';
  margin-left: -1em;
  color: rgb(154, 192, 250);
}
.icon-Set-spend-limit .path7:before {
  content: '\e931';
  margin-left: -1em;
  color: rgb(154, 192, 250);
}
.icon-Set-spend-limit .path8:before {
  content: '\e932';
  margin-left: -1em;
  color: rgb(241, 243, 244);
}
.icon-Visa-Logo:before {
  content: '\e933';
}

